*
{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

main
{
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.frame
{
    background: #ddd;
}

.frame .camera,
.frame img.result
{
    display: grid;
    place-content: center;
    width: 50vw;
    height: 60vh;
    background: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: .2em;
}

input[type=button].verify
{
    padding: .5em;
    background: #008080;
    border-radius: .2em;
    border: unset;
    outline: unset;
    color: #fff;
    margin: .5em;
    cursor: pointer;
    font-family: serif;
}